<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="MetaDataBehavior">
                    <serviceMetadata httpGetEnabled="true" httpGetUrl="http://localhost/MailCryptAPI"
                        httpsGetEnabled="true" httpsGetUrl="https://localhost/MailCryptAPI" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service behaviorConfiguration="MetaDataBehavior" name="MailCryptAPI.MailServer">
                <endpoint address="http://localhost" binding="ws2007HttpBinding"
                    bindingConfiguration="" name="ep1" contract="MailCryptAPI.IMailServer" />
                <endpoint address="mex" binding="mexHttpBinding" bindingConfiguration=""
                    name="ep2" contract="IMetadataExchage" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost/MailCryptAPI" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>